.env
node_modules
data/pgadmin/
data/db/
server.js
certificate.cst
privatekey.key

.vscode
onlineShop.session.sql
docker-compose.yml
product-data/images/*.png
product-data/images/*.jpeg
product-data/images/*.jpg


